<footer class="mt-auto py-3 text-center">

    <small class="text-muted mb-2">
        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
        by <strong>Thanh Tung</strong>
    </small>

    <div class="container-fluid justify-content-center">
        <a class="social mx-1" href="mailto:tungnt2k@gmail.com" style="color: #6c757d"
            onmouseover="this.style.color='#db4437'" onmouseout="this.style.color='#6c757d'">
            <i class="fas fa-envelope fa-1x"></i>
        </a>
        <a class="social mx-1" href="https://www.facebook.com/tung.thanh19122k" style="color: #6c757d"
            onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='#6c757d'">
            <i class="fab fa-facebook fa-1x"></i>
        </a>
        <a class="social mx-1" href="https://github.com/tungnt2k" style="color: #6c757d"
            onmouseover="this.style.color='#333333'" onmouseout="this.style.color='#6c757d'">
            <i class="fab fa-github fa-1x"></i>
        </a>
    </div>

</footer>
<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>