<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="/">
    <h5><b>Tungnt2k</b></h5>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link " href="/project">Projects</a>
      <a class="nav-item nav-link " href="/about">About</a>
      <a class="nav-item nav-link " href="https://github.com/tungnt2k"><i
          class="fab fa-1x fa-github"></i></a>
    </div>
  </div>

</nav>