<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') -%>
</head>

<body class="d-flex flex-column h-100">

    <header class="flex-shrink-0 container mt-5">
        <%- include('../partials/header.ejs') -%>
    </header>

    <main class="flex-shrink-0 container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Hello, I'm Tung!</h1>
            <p class="lead">I'm a student of the <b>Thuy Loi University</b>.<img style="height: 30px;"
                    src="https://kenh76.vn/icon-facebook/assets/img/emoji/1f62c.png" /></p>
            <hr class="my-4">
            <p> This is my pet project .</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') -%>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>

</html>