<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') -%>
</head>

<body class="d-flex flex-column h-100">

    <header class="flex-shrink-0 container mt-5">
        <%- include('../partials/header.ejs') -%>
    </header>

    <main class="flex-shrink-0 container mt-5">
        <div class="row justify-content-center align-items-center p-4">
            <div class="col-lg-4 col-md-6 text-center mt-4">
                <div id="container" class="my-2">
                    <div id="dummy"></div>
                    <div id="element">
                        <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/p720x720/72549152_2491785914401800_4426681637887016960_o.jpg?_nc_cat=101&_nc_ohc=TUqOS_fjI6MAQlcmAp15dOIMTNE25L2cwFP4pf15xTlhy7gYQsdNErTHw&_nc_ht=scontent.fhan2-1.fna&oh=232ccb7b87a0c2865e6f570a3fd41f37&oe=5E802C26"
                            alt="portfolYOU" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
                    </div>
                </div>
                <div class="text-muted wow animated slideInUp" data-wow-delay=".15s">
                    <p >“Stay Hungry, Stay foolish”</p>
                    <p>-Steve Jobs-</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') -%>
    </footer>

</body>

</html>