<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') -%>
</head>

<body class="d-flex flex-column h-100">

    <header class="flex-shrink-0 container mt-5">
        <%- include('../partials/header.ejs') -%>
    </header>

    <main class="flex-shrink-0 container mt-5">
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p>Check it in my GitHub</p>
            <a id="ntt" href="#"><img style="height: 30px;"
                src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" /></a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') -%>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $(document).ready(function () {
            function Redirect(id) {
                if (id === 'ntt') {
                    window.open("https://github.com/tungnt2k", '_blank');
                }
            }
           
            $("#ntt").on("click",
                "",
                function () {
                    let timerInterval;
                    Swal.fire({
                        title: 'Redirect...',
                        html: 'You will go to my Github in <b></b> milliseconds.',
                        timer: 4000,
                        timerProgressBar: true,
                        onBeforeOpen: () => {
                            Swal.showLoading();
                            timerInterval = setInterval(() => {
                                Swal.getContent().querySelector('b')
                                    .textContent = Swal.getTimerLeft();
                            },
                                100);
                        },
                        onClose: () => {
                            clearInterval(timerInterval);
                        }
                    })
                        .then(() => {
                            Redirect("ntt");
                        });
                });
        });
    </script>
</body>

</html>